<div  style="float: right;">
    <button mat-button class="close-icon" (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div class="card-body col-xl-10 offset-xl-1 ">
    <form (ngSubmit)="save()" [formGroup]="new">
        <div class="form-outline mb-3">
            <label for="">Seleccion la talla</label>
            <select class="form-control" name="size" id="size" formControlName="size">
                <option [ngValue]="size.idSize" *ngFor="let size of sizes">{{size.name}}</option>
            </select>
        </div>
        <div class="form-outline mb-3">
            <input class="form-control form-control-lg" type="text" name="total_amount" id="total_amount"
                placeholder="cantidad" formControlName="total_amount">
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn btn-dark btn-block">
                <i class="fas fa-sign-in-alt"></i>Enviar</button>
        </div>
    </form>
</div>